/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define CHA 0
#define NAV 1
#define MEDIA 2
#define RESET 3

/ {
        macros {
                this_macro: this_macro {
                        label = "this_macro";
                        compatible = "zmk,behavior-macro";
                        tap-ms = <1>; 
                        wait-ms = <1>;
                        #binding-cells = <0>;
                        bindings = <&kp DOLLAR &kp T &kp H &kp I &kp S &kp KP_MINUS &kp GT>;
                };
        };


        combos {
                compatible = "zmk,combos";
                combo_esc { 
                        timeout-ms = <50>;
                        key-positions = <8 9>;
                        bindings = <&kp ESC>;
                };

                this_combo {
                        timeout-ms = <50>;
                        key-positions = <3>;
                        bindings = < &this_macro >;
                };
        };

        keymap {
                compatible = "zmk,keymap";
                default_layer {
                        bindings = <
        &kp ESCAPE      &mt MINUS N1    &kp GT  N2     &kp DLLR  N3       &kp DOLLAR    DOT         &kp Q        AMPS       &kp V                &kp Z                   &kp Y       STAR         &kp J   FSLH          &kp K     PIPE         &to 2
        &to 1           &mt R     N4    &mt N   N5     &mt L     N6       &mt O         N0          &mt E        TILDE      &mt T     UP_ARROW   &mt A    DOWN_ARROW     &mt I       LEFT_ARROW   &mt S   RIGHT_ARROW   &mt H     PAGE_UP      &mt LSHFT  ENTER
        &kp X           &mt W     N7    &mt B   N8     &mt P     N9       &mt M         COMMA       &mt C        GRAVE      &mt D     INSERT     &mt U    HOME           &mt F       END          &mt G   DEL           &mt TAB   PAGE_DOWN    &kp FSLH
                                                       &mt LBKT LCTRL     &kp LEFT_GUI              &mt LEFT_GUI SPACE      &kp LSHFT            &mt RALT BACKSPACE      &mt RCTRL   RBKT
                        >;
                };


                media_layer {
                        bindings = <
        &trans          &kp F1          &kp F2         &kp F3             &kp F4                    &kp K_VOLUME_DOWN       &kp K_VOLUME_UP      &kp K_MUTE              &kp K_PLAY_PAUSE        &kp GRAVE             &kp LCTRL       &to 2
        &mo 0           &kp F5          &kp F6         &kp F7             &kp F8                    &kp C_PREVIOUS          &kp C_NEXT           &kp LBRC                &kp RBRC                &kp PIPE              &kp TILDE       &trans
        &kp LSHFT       &kp F9          &kp F10        &kp F11            &kp F12                   &trans                  &trans               &trans                  &trans                  &trans                &trans          &trans
                                                       &trans             &trans                    &trans                  &trans               &trans                   &trans   
                        >;  
                };

                reset_layer {
                        bindings = <
        &trans          &kp F1          &kp F2         &kp F3             &kp F4                    &kp K_VOLUME_DOWN       &bt BT_CLR           &bt BT_PRV              &bt BT_NXT              &kp GRAVE             &kp LCTRL       &to 1
        &mo 0           &kp F5          &kp F6         &kp F7             &kp F8                    &kp C_PREVIOUS          &bt BT_SEL 0         &bt BT_SEL 1            &bt BT_SEL 2            &kp PIPE              &kp TILDE       &trans
        &kp LSHFT       &kp F9          &kp F10        &kp F11            &kp F12                   &trans                  &trans               &trans                  &trans                  &trans                &trans          &trans
                                                       &trans             &trans                    &trans                  &trans               &trans                   &trans   
                        >;
                };
        };
};
